In [1]:
import numpy as np
import pandas as pd
from itertools import product


df = pd.read_csv("../data/crowdsourced/summ_accs_comp.csv")
df.head(10)

  distro  section  accs comp  setup
0    0:0        1  0.11  low      1
1    0:0        1  0.12  low      1
2    0:0        2  0.00  low      1
3    0:0        3  0.18  low      1
4    0:0        4  0.24  low      1
5    0:0        4  0.33  low      1
6    4:4        1  0.00  low      1
7    4:4        1  0.00  low      1
8    4:4        1  0.00  low      1
9    4:4        2  0.26  low      1

In [2]:
df1 = df.query("setup==1 and comp=='low'").copy()
distros = df1['distro'].tolist()
sections = list(set(df['section'].tolist()))
queries = list(set(list(product(distros, sections))))

for e in queries:
    vals = df1.query(f"section=='{e[1]}' and distro=='{e[0]}'")['accs'].mean()                   
    print(e[0], e[1], np.round(np.mean(vals), 2))

0:4 4 0.6
4:4 4 0.24
2:0 3 0.55
0:0 3 0.18
2:2 3 0.33
0:4 3 0.48
4:2 4 0.28
4:2 3 0.43
2:0 2 0.44
0:0 2 0.0
2:2 2 0.14
0:4 2 0.36
4:4 3 0.33
4:2 2 0.46
0:0 1 0.12
2:2 1 0.0
4:4 2 0.26
2:0 1 0.2
0:4 1 0.55
2:0 4 0.35
4:2 1 0.48
0:0 4 0.29
2:2 4 0.11
4:4 1 0.0

In [3]:
df3 = df.query("setup==1 and comp=='high'").copy()
distros = df3['distro'].tolist()
sections = list(set(df3['section'].tolist()))
queries = list(set(list(product(distros, sections))))

for e in queries:
    vals = df3.query(f"section=='{e[1]}' and distro=='{e[0]}'")['accs'].mean()                   
    print(e[0], e[1], np.mean(vals))

0:4 4 0.7633333333333333
4:4 4 0.48
2:0 3 0.63
0:0 3 0.66
2:2 3 0.22
0:4 3 0.74
4:2 4 0.66
4:2 3 0.605
2:0 2 0.66
0:0 2 0.55
2:2 2 0.665
0:4 2 0.62
4:4 3 0.665
4:2 2 0.775
0:0 1 0.375
2:2 1 0.0
4:4 2 0.44
2:0 1 0.72
0:4 1 0.66
2:0 4 0.68
4:2 1 0.55
0:0 4 0.535
2:2 4 0.555
4:4 1 0.6833333333333332

In [4]:
df2 = df.query("setup==2 and comp=='low'").copy()
distros = df2['distro'].tolist()
sections = list(set(df['section'].tolist()))
queries = list(set(list(product(distros, sections))))

for e in queries:
    vals = df2.query(f"section=='{e[1]}' and distro=='{e[0]}'")['accs'].mean()                   
    print(e[0], e[1], np.mean(vals))

0:4 4 0.2
4:4 4 0.44
2:0 3 0.5
0:0 3 0.33
2:2 3 0.22
0:4 3 0.56
4:2 4 0.33
4:2 3 0.5499999999999999
2:0 2 0.605
0:0 2 0.44
2:2 2 0.25
0:4 2 0.46499999999999997
4:4 3 0.48
4:2 2 0.57
0:0 1 0.55
2:2 1 0.43
4:4 2 0.33
2:0 1 0.66
0:4 1 0.615
2:0 4 0.545
4:2 1 0.525
0:0 4 0.33
2:2 4 0.125
4:4 1 0.5066666666666667

In [5]:

df4 = df.query("setup==2 and comp=='high'").reset_index(drop=True)

distros = df4['distro'].tolist()
sections = list(set(df4['section'].tolist()))
queries = list(set(list(product(distros, sections))))

for e in queries:
    vals = df4.query(f"section=='{e[1]}' and distro=='{e[0]}'")['accs'].mean()                   
    print(e[0], e[1], np.mean(vals))

0:4 4 0.645
4:4 4 0.585
2:0 3 0.585
0:0 3 0.55
2:2 3 0.5
0:4 3 0.68
4:2 4 0.66
4:2 3 0.7000000000000001
2:0 2 0.75
0:0 2 0.63
2:2 2 0.655
0:4 2 0.6799999999999999
4:4 3 0.66
4:2 2 0.88
0:0 1 0.615
2:2 1 0.7
4:4 2 0.55
2:0 1 0.8
0:4 1 0.75
2:0 4 0.72
4:2 1 1.0
0:0 4 0.665
2:2 4 0.55
4:4 1 0.6233333333333334